@model PetaByte_KellysFeatures2.Models.Alert

@* NOTE (Kelly Ann McNamara): add the adminlayout shared view to style the page correctly *@
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*
    Project: Temiskaming Hospital Website
    Team Name: PetaByte
    Class: Mobile Development
    Professor: Lee Situ
    Author: Kelly Ann McNamara
    File Description: This file is the view to delete an alert fromt the Alert feature.
    Note: Views do not have many comments, they were mostly edited within small details.
*@

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.alertText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alertText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.firstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="button-delete" />
            <div class="button">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    }
</div>
