@model IEnumerable<PetaByte_KellysFeatures2.Models.Alert>

@* NOTE (Kelly Ann McNamara): add the adminlayout shared view to style the page correctly *@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*
    Project: Temiskaming Hospital Website
    Team Name: PetaByte
    Class: Mobile Development
    Professor: Lee Situ
    Author: Kelly Ann McNamara
    File Description: This file is the view for the index of the Alert feature.
    Note: Views do not have many comments, they were mostly edited within small details.
*@

<h2>Index</h2>

<p class="button">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.alertText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.firstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.alertText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.firstName)
        </td>
        <td class="crud">
            @Html.ActionLink("Edit", "Edit", new { id = item.akertId }, htmlAttributes: new { @class = "button-edit" })
        </td>
        <td class="crud">
            @Html.ActionLink("Delete", "Delete", new { id = item.akertId }, htmlAttributes: new { @class = "button-delete" })
        </td>
    </tr>
}

</table>
