@model PetaByte_KellysFeatures2.Models.JobApplicant

@{
    ViewBag.Title = "Create";
}
<div class="job-intro med-blue-bg">
    <div class="wrapper">
        <h2>Jobs</h2>
        <p class="white">Welcome to our job postings and applications page. Below you will find any available job positions. If there is a job you are interested in please still send us your information to jobs@petabye-hospital.com. We are always looking for new employees and if we feel like you're the right fit we will find a job for you. If you have any questions about working at the hospital or about the below job postings please also email jobs@petabye-hospital.com.</p>
    </div>
</div>
<div class="job-postings">
    <div class="wrapper">
        <h2 class="dark-blue">Job Postings</h2>
        @Html.Action("JobPosting")
    </div>
</div>

<div id="app-form">
    <div class="wrapper">
        <h2 class="dark-blue">Apply</h2>


    @using (Html.BeginForm("Create", "JobApplicants", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" id="app-form__form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.jobId, "jobId", htmlAttributes: new { @class = "control-label col-md-12 label" })
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownList("jobId", null, htmlAttributes: new { @class = "form-control drop-down" })
                        @Html.ValidationMessageFor(model => model.jobId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.appFirstName, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.appFirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.appFirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.appLastName, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.appLastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.appLastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
             
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.appEmail, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.appEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.appEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.appLinkedIn, htmlAttributes: new { @class = "control-label col-md-12 label" })
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.appLinkedIn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.appLinkedIn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.appMessage, htmlAttributes: new { @class = "control-label col-md-12 label" })
                    </div>
                        <div class="col-md-12">
                        @Html.EditorFor(model => model.appMessage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.appMessage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.appCv, htmlAttributes: new { @class = "control-label col-md-12 label" })
                    </div>
                    <div class="col-md-12">
                        <input name="file" type="file" />
                        @Html.ValidationMessageFor(model => model.appCv, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.appOtherFile, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input name="appOtherFileFile" type="file" />
                            @Html.ValidationMessageFor(model => model.appOtherFile, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
