@model PetaByte_KellysFeatures2.Models.Patient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.middleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.middleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.physican)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.physican)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.healthCardNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.healthCardNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allergies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addresses1.addressStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addresses1.addressStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.mobileNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.mobileNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmerageContact.emergeFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmerageContact.emergeFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurance.insuranceProiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance.insuranceProiver)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.patientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
