@model IEnumerable<PetaByte_KellysFeatures2.Models.Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.middleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.physican)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joinDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.healthCardNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allergies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addresses1.addressStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact.mobileNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmerageContact.emergeFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insurance.insuranceProiver)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.middleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.physican)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joinDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.healthCardNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allergies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relationship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addresses1.addressStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.mobileNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmerageContact.emergeFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insurance.insuranceProiver)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.patientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.patientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.patientId })
        </td>
    </tr>
}

</table>
