@model IEnumerable<PetaByte_KellysFeatures2.Models.Page>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p class="button">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.firstName)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pageTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.firstName)
        </td>
        <td class="crud">
            @Html.ActionLink("Edit", "Edit", new { id = item.pageId }, htmlAttributes: new { @class = "button-edit" })
        </td>
        <td class="crud">
            @Html.ActionLink("View", "Details/", new { item.pageUrl }, htmlAttributes: new { @class = "button-edit" })
        </td>
        <td class="crud">
            @Html.ActionLink("Delete", "Delete", new { id = item.pageId }, htmlAttributes: new { @class = "button-delete" })
        </td>
    </tr>
}

</table>
